.cardapio-titulo {
    height: 12vw;
    background-color: rgb(139, 201, 236);
    color: #12232E;
    font-size: 10vw;
}

#main {
    border-bottom: 0.5vw solid #001B48;
}

.cardapio-titulo h3 {
    font-size: 5vw;
    margin-left: 1vw;
    margin-top: 0vw;
    padding-top: 3vw;
    padding-left: 2vw;
}

#cardapio {
    background-color: rgb(231, 229, 229);
    min-height: 100vh;
}

.seletor {
    padding-left: 5vw;
}

.opcoes {
    font-size: 5vw;
    width: 90vw;
}

.botoes {
    text-align: center;
}


.botao {
    font-size: 5vw;
}

label {
    color: #12232E;
    font-size:5vw;
    margin-left: 1vw;

}