.cria-cardapio-titulo {
    height: 12vw;
    background-color: rgb(139, 201, 236);
    color: #12232E;
    font-size: 10vw;

}

.cria-cardapio-titulo h3 {
    color: black;
    font-size: 5vw;
    margin-left: 1vw;
}

#main {
    border-bottom: 0.5vw solid #001B48;
}

#corpo {
    background-color: #DCE1E3;
}

.botoes {
    text-align: center;
}


.botao {
    font-size: 5vw;
}

label {
    color: #12232E;
    font-size:5vw;
    margin-left: 1vw;
}
