.cria-cardapio-titulo {
    height: 12vw;
    background-color: rgb(139, 201, 236);
    color: #12232E;
    font-size: 10vw;

}

.cria-cardapio-titulo h3 {
    font-size: 5vw;
    margin-top: 0vw;
    padding-top: 3vw;
    padding-left: 2vw;
}

#cria-cardapio {
    background-color: rgb(231, 229, 229);
    min-height: 100vh;
}

#cria-cardapio .form-control {
    width: 80vw;
    height: 10vw;
}

#cria-cardapio .form-control-2 {
    width: 40vw;
    height: 10vw;
}

#cria-cardapio .form-control-desc {
    width: 85vw;
    height: 30vw;
}

.formularios {
    padding: 5vw;
}

.botoes {
    text-align: center;
}


.botao {
    font-size: 5vw;
}

label {
    color: #12232E;
    font-size:5vw;
    margin-left: 1vw;
}
