.pedidos-recebidos-titulo {
    height: 12vw;
    color: #12232E;
    font-size: 10vw;
    background-color: rgb(139, 201, 236);
}

.pedidos-recebidos-titulo h3 {
    font-size: 5vw;
    margin-top: 0vw;
    padding-top: 3vw;
    padding-left: 2vw;
}

#pedidos-recebidos {
    background-color: rgb(231, 229, 229);
    min-height: 100vh;
}

.refresh {
    font-size: 5vw;
    border-color: black;
    margin-left: 20vw;
    color: black;
    background-color: rgb(139, 201, 236);
}

.pedido {
    margin-top: 3vw;
    border:4px solid #001B48;
}

.detalhes {
    font-size: auto;

}

.total {
    font-size: 5vw;
}

.cabecalho {
    border-bottom: 1vw solid #001B48;
    background-color: #001B48;
}

.cabecalho h1 {
    color: #DCE1E3;
    font-size: 5vw;
}

#main {
    border-bottom: 0.5vw solid #001B48;
}

#corpo {
    background-color: rgb(139, 201, 236);
}

.botoes {
    text-align: center;
    margin-bottom: 2vw;
}

.botao {
    font-size: 5vw;
}

ul li{
    font-size: 5vw;
}
ul{
    list-style-type: none;
}
