
:root{
--variavel-cor: black;
--variavel-cor-branca: #DCE1E3;
}

.pedido {
    margin-inline: 2.5vw;
    margin-top: 5vw;
    border:4px solid var(--variavel-cor);
}

.total {
    font-size: 5vw;
}

.detalhes {
    font-size: auto;
}

.cabecalho div {
    font-size: 6vw;
    font-weight: bolder;
    color: var(--variavel-cor-branca)
}

.cabecalho h1 {
    color: var(--variavel-cor-branca);
    font-size: 5vw;
}

.cabecalho {
    border-bottom: 1vw solid var(--variavel-cor);
    background-color:var(--variavel-cor);
}

ul li{
    font-size: 5vw;
}
ul{
    list-style-type: none;
}
.botoes {
    text-align: center;
    margin-bottom: 2vw;
}

.botao {
    font-size: 5vw;
}

#main {
    border-bottom: 0.5vw solid var(--variavel-cor);
}
