.pedidos-recebidos-titulo {
    height: 12vw;
    color: black;
    font-size: 10vw;
    background-color: rgb(139, 201, 236);
}

.pedidos-recebidos-titulo h3 {
    font-size: 5vw;
    margin-top: 0vw;
    padding-top: 3vw;
    padding-left: 2vw;
}

#pedidos-recebidos {
    background-color: rgb(231, 229, 229);
    min-height: 100vh;
}

.refresh {
    font-size: 5vw; 
    border-style:none;
    border-color: black;
    margin-left: 20vw;
    color: black;
    background-color: rgb(139, 201, 236);
}

