.realiza-pedido-titulo {
    height: 12vw;
    background-color: rgb(139, 201, 236);
    color: #12232E;
    font-size: 10vw;
}

.quarto{
    margin-left:5vw ;
}

.realiza-pedido-titulo h3 {
    font-size: 5vw;
    margin-top: 0vw;
    padding-top: 3vw;
    padding-left: 2vw;
}

#realiza-pedido {
    background-color: rgb(231, 229, 229);
    min-height: 100vh;
}

#realiza-pedido .form-control {
    width: 20vw;
    height: 5vw;
}

.total {
    margin-left: 5vw;
    font-size: 5vw;
    font-style: oblique;
}

#corpo {
    background-color: #DCE1E3;
}

.botoes {
    text-align: center;
    margin-bottom: 2vw;
}

.botao {
    font-size: 5vw;
}

.quarto {
    font-size: 5vw;
}

.item {
    font-size: 5vw;
}

.preco {
    font-size: 4vw;
}

ul {
    list-style-type: none;

}